
body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
  }
  
  canvas {
    display: block;
    background-color: transparent;
  }
  
  #court {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  #gameLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  