
body {
    font-family: sans-serif;
    padding: 1em;
    max-width: 800px;
    margin: auto;
  }
  
  #logContainer {
    margin-top: 2em;
    border: 1px solid #ccc;
    padding: 1em;
    max-height: 500px;
    overflow-y: scroll;
    background: #f9f9f9;
  }
  